:root {
  --clr-offwhite: hsl(42, 100%, 97%);
  --clr-black: hsl(60, 4%, 11%);
  --clr-orange: hsl(25, 100%, 50%);
  --clr-green: hsl(102, 63%, 63%);
  --clr-yellow: hsl(40, 100%, 50%);
  --clr-pink: hsl(340, 87%, 79%);
}
