@use "../../styles/util/" as u;

.footer {
  &__nav {
    gap: 24px;
  }

  &__link {
    font-size: u.rem(15);
    line-height: 120%;
    letter-spacing: 0.045px;
    text-transform: uppercase;
    transition: color 0.3s;

    &:hover {
      color: var(--clr-orange);
    }
  }
}
