@use "../../styles/util/" as u;

.home__image {
  width: 100%;
  height: 100%;
  object-fit: none;

  @include u.breakpoint(medium) {
    object-fit: cover;
  }
}

.custom-cursor {
  cursor: url("/public/assets/04.2024-WebPielihueso-Img-arrow-right.svg") 20 16,
    auto;
}

.custom-cursor-left {
  cursor: url("/public/assets/04.2024-WebPielihueso-Img-arrow-left.svg") 20 16,
    auto;
}
