@use "../../styles/util/" as u;

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @include u.breakpoint(medium) {
    grid-template-rows: 5.2% 1fr 4.4%;
  }

  @include u.breakpoint(large) {
    grid-template-rows: 6.8% 1fr 4.9%;
  }
}

.dummy-main {
  position: relative;
  margin: 0 16px;
  height: calc(100vh - 62px - 46px);

  @include u.breakpoint(medium) {
    margin: 0 22px;
    height: calc(100vh - 59px - 52px);
  }

  @include u.breakpoint(large) {
    margin: 0 24.5px;
    height: calc(100vh - 71px - 52px);
  }
}

.main {
  position: absolute;
  border-radius: 24px;
  border: 1px solid var(--clr-black);
  overflow-y: scroll;
  flex-grow: 1;
  height: 100%;
  width: 100%;

  @include u.breakpoint(medium) {
    position: static;
  }
}

.main.hidden {
  display: none;
}
