@use "../styles/util/" as u;

.carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scrollbar-width: none;
  // correct...
  -webkit-overflow-scrolling: touch; // Enable smooth scrolling on iOS devices

  @include u.breakpoint(medium) {
    gap: 15px;
  }

  @include u.breakpoint(large) {
    gap: 20px;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }

  &__item {
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  &__image {
    width: 300px;
    position: relative;

    img {
      margin-block-end: 8px;
    }

    @include u.breakpoint(medium) {
      width: 330px;
    }

    @include u.breakpoint(large) {
      width: 600px;
    }

    @media (max-width: 1024px) {
      width: 425px; /* Adjust */
    }
  }

  &__navigation {
    display: none;

    @include u.breakpoint(large) {
      display: flex;
      justify-content: flex-end;
      gap: 16px;
      margin: 0 16px 12px 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;

    &:disabled {
      opacity: 0.1;
    }
  }

  &__slide-captions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: white;

    h2 {
      margin-block-end: 8px;

      @include u.breakpoint(medium) {
        margin-block-end: 16px;
      }

      @include u.breakpoint(large) {
        margin-block-end: 24px;
      }
    }
  }
}

// position the carousel within the global container boundaries
// make container width a variable
// .slide-center {
//   transform: translateX(calc(max(1200px, 100vw) / 2 - calc(1200px / 2)));
// }

// hidden on screen reader
.sr-only {
  // position: absolute !important;
  position: static;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
