@use "../../styles/util/" as u;

.finca {
  width: 100%;
  height: 100%;
  padding: 32px 24px 80px;
  overflow-x: auto;

  @include u.breakpoint(medium) {
    padding: 48px 26px 80px;
  }

  @include u.breakpoint(large) {
    padding: 48px 31.5px 80px;
  }

  &__heading {
    margin-block-end: 24px;

    @include u.breakpoint(medium) {
      margin-block-end: 32px;
    }
  }

  &__main-container {
    @include u.breakpoint(large) {
      display: flex;

      gap: 12.6%;
      max-width: 1093px;
    }
  }

  &__image-desktop-wrapper {
    width: 39%;
  }

  &__image-desktop {
    display: none;

    @include u.breakpoint(large) {
      display: block;
      width: 100%;
    }
  }

  &__intro {
    margin-block-end: 40px;

    @include u.breakpoint(medium) {
      margin-block-end: 64px;
      max-width: 463px;
    }

    @include u.breakpoint(large) {
      margin-block-end: 56px;
      max-width: 534px;
    }
  }

  &__sub-container {
    display: flex;
    flex-direction: column;

    @include u.breakpoint(medium) {
    }

    @include u.breakpoint(large) {
      display: block;
      width: 48.4%;
    }
  }

  &__details-container {
    @include u.breakpoint(medium) {
      display: flex;
      justify-content: space-between;
      gap: 47px;
    }
  }

  &__image-mobile {
    width: 100%;
    object-fit: cover;
    margin-block-end: 48px;

    @include u.breakpoint(medium) {
      max-height: 387px;
      margin-block-end: 80px;
      width: 39%;
    }

    @include u.breakpoint(large) {
      display: none;
    }
  }

  &__details {
    width: 100%;
  }

  &__attribute {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include u.breakpoint(medium) {
      gap: 53px;
    }

    @include u.breakpoint(large) {
      gap: 40px;
    }
  }

  &__info-wrapper {
    display: flex;
    gap: 8px;

    @include u.breakpoint(medium) {
      gap: 28px;
    }
  }

  &__subheading {
    margin-block-end: 8px;
    min-width: 68px;

    @include u.breakpoint(medium) {
      min-width: 74px;
      padding-top: 5px;
    }

    @include u.breakpoint(large) {
      min-width: 85px;
      padding-top: 5px;
    }
  }

  &__carousel {
    margin-block-start: 48px;
    margin-inline: -24px;

    @include u.breakpoint(medium) {
      margin-block-start: 80px;
      margin-inline: -26px;
    }
    @include u.breakpoint(large) {
      margin-block-start: 106px;
      margin-inline: -31.5px;
    }
  }

  & .scroller {
    &__inner {
      gap: 16px;

      @include u.breakpoint(large) {
        gap: 24px;
      }
    }

    & figure {
      img {
        width: 312px;
        border-radius: 24px;
        border: 1px solid var(--clr-black);

        @include u.breakpoint(medium) {
          width: 328px;
        }

        @include u.breakpoint(large) {
          width: 500px;
        }
      }
    }
  }
}
