@use "../../styles/util/" as u;

.historia {
  width: 100%;
  height: 100%;
  padding: 32px 0 70px 24px;
  overflow-x: auto;

  @include u.breakpoint(medium) {
    padding: 48px 0 104px 26px;
  }

  @include u.breakpoint(large) {
    padding: 48px 0 80px 31.5px;
  }

  &__heading {
    margin-block-end: 24px;

    @include u.breakpoint(medium) {
      margin-block-end: 32px;
    }
  }

  &__intro {
    padding-right: 24px;
    margin-block-end: 40px;

    @include u.breakpoint(medium) {
      padding-right: 0;
      margin-block-end: 64px;
      max-width: 463px;
    }

    @include u.breakpoint(large) {
      margin-block-end: 56px;
      max-width: 534px;
    }
  }

  &__image-primary {
    width: 100%;
    min-height: 423px;
    object-fit: cover;
    padding-right: 24px;
    margin-block-end: 48px;

    @include u.breakpoint(medium) {
      max-height: 387px;
      margin-block-end: 80px;
      padding-right: 26px;
    }

    @include u.breakpoint(large) {
      max-height: 650px;
      padding-right: 31.5px;
    }
  }

  &__history {
    margin-block-end: 48px;

    @include u.breakpoint(medium) {
      display: flex;
      gap: 68px;
      padding-right: 26px;
      margin-block-end: 80px;

      & time {
        @include u.breakpoint(large) {
          margin-top: 5px;
        }
      }
    }

    @include u.breakpoint(large) {
      padding-right: 31.5px;
      margin-block-end: 106px;
      gap: 137px;
    }
  }

  &__years {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include u.breakpoint(medium) {
      width: 52%;
    }

    @include u.breakpoint(large) {
      width: 49%;
    }
  }

  &__year {
    display: flex;
    gap: 49px;
    padding-right: 24px;

    @include u.breakpoint(medium) {
      gap: 34px;
      padding-right: 0;
    }

    @include u.breakpoint(large) {
      gap: 79px;
    }
  }

  &__figure-mobile {
    padding-right: 24px;

    & img {
      width: 100%;
      margin-block-end: 8px;
    }

    @include u.breakpoint(medium) {
      display: none;
    }
  }

  &__figure {
    display: none;

    & img {
      width: 100%;
    }

    @include u.breakpoint(medium) {
      display: block;
      width: 39.2%;
    }

    @include u.breakpoint(large) {
      width: 32%;
    }
  }

  &__carousel {
    margin-block-end: 48px;

    @include u.breakpoint(medium) {
      margin-block-end: 80px;
    }
  }

  &__history-continued {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include u.breakpoint(medium) {
      width: 51%;
    }
  }
}
