@use "../../styles/util/" as u;

.equipo {
  // is this necessary?
  width: 100%;
  height: 100%;
  padding: 32px 26px 88px;
  overflow-x: auto;

  @include u.breakpoint(medium) {
    padding: 48px 26px 121px;
  }

  @include u.breakpoint(large) {
    padding: 48px 31.5px 64px;
  }

  @include u.breakpoint(xlarge) {
    padding: 72px 48px 96px;
  }

  &__heading {
    margin-block-end: 24px;

    @include u.breakpoint(medium) {
      margin-block-end: 32px;
    }

    @include u.breakpoint(large) {
      margin-block-end: 24px;
    }

    @include u.breakpoint(xlarge) {
      margin-block-end: 40px;
    }
  }

  &__intro {
    margin-block-end: 32px;

    @include u.breakpoint(medium) {
      max-width: 76%;
      margin-block-end: 58px;
    }

    @include u.breakpoint(large) {
      min-width: 100%;
      margin-block-end: 39px;
    }

    @include u.breakpoint(xlarge) {
      min-width: 90%;
      margin-block-end: 64px;
    }
  }

  &__carousel {
    margin-inline: -26px;

    @include u.breakpoint(large) {
      margin-inline: -31.5px;
    }

    @include u.breakpoint(xlarge) {
      margin-inline: -48px;
    }
  }

  & .scroller {
    &__inner {
      gap: 10px;

      @include u.breakpoint(medium) {
        gap: 15px;
      }

      @include u.breakpoint(large) {
        gap: 20px;
      }
    }

    &__image {
      width: 300px;
      object-fit: cover;
      max-height: 431px;

      @include u.breakpoint(medium) {
        width: 327px;
        max-height: 453px;
      }

      @include u.breakpoint(large) {
        width: 421px;
        max-height: 583px;
      }

      & img {
        border-radius: 24px;
        border: 1px solid var(--clr-black);
        max-height: 431px;
        width: 100%;
        object-fit: cover;

        @include u.breakpoint(medium) {
          max-height: 453px;
        }

        @include u.breakpoint(large) {
          max-height: 583px;
        }
      }
    }

    &__slide-captions {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      text-align: center;
      color: white;

      h2 {
        font-size: clamp(
          2rem,
          1.4036259541984732rem + 2.544529262086514vw,
          2.625rem
        );
        letter-spacing: -0.32px;
        line-height: 1.2;
        margin-block-end: 8px;

        @include u.breakpoint(medium) {
          letter-spacing: -0.84px;
          margin-block-end: 16px;
        }

        @include u.breakpoint(large) {
          margin-block-end: 24px;
        }

        @include u.breakpoint(textLarge) {
          font-size: clamp(
            2.625rem,
            0.2142857142857144rem + 2.6785714285714284vw,
            4.5rem
          );
        }

        @include u.breakpoint(xlarge) {
          letter-spacing: 1px;
        }
      }

      p {
        font-size: clamp(
          0.75rem,
          0.571087786259542rem + 0.7633587786259542vw,
          0.9375rem
        );
        line-height: 1.6;
        letter-spacing: 0.036px;
        text-transform: uppercase;

        @include u.breakpoint(medium) {
          line-height: 1.2;
          letter-spacing: 0.045px;
        }

        @include u.breakpoint(textLarge) {
          font-size: clamp(
            0.9375rem,
            -0.4285714285714286rem + 1.5178571428571428vw,
            2rem
          );
        }

        @include u.breakpoint(xlarge) {
          font-size: clamp(
            0.9375rem,
            -0.4285714285714286rem + 1.5178571428571428vw,
            2rem
          );
          letter-spacing: 1px;
        }
      }
    }
  }
}
